/* From Uiverse.io by Lakshay-art */
@use "../basic/variables";
@use "../basic/functions";

.universe-input {
  width: 186px;
  background-color: variables.$clr1;
  border: none;
  height: 56px;
  border-radius: 10px;
  color: #ffffff;
  padding-inline: 59px;
  font-size: 18px;
}

.universe-input::placeholder {
  color: #c0b9c0;
}

.universe-input:focus {
  outline: none;
}
