@use "../../basic/variables";
@use "../../basic/functions";

.chart-container {
  height: 100%;
  width: 100%;
}
.org-chart-container {
  width: 100%;
  height: 100%;
}
.svg-chart-container {
  height: 110%;
  background-color: #3c3c52;
}
.node-foreign-object-div span {
  overflow: auto;
}
.node-button-foreign-object {
  y: functions.rem(-12);
}

.node-container {
  padding-top: variables.$imageDiffVert - 2;
}

.node-card {
  font-family: "Inter", sans-serif;
  background-color: variables.$clr11;
  width: variables.$width;
  height: variables.$height;
  margin-left: functions.rem(-1);
  border-radius: functions.rem(10);
  border: 1px solid #e4e2e9;
}

.node-badge-bg {
  background-color: variables.$clr11;
  margin-top: -48px;
  margin-left: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.node-avatar {
  margin-top: -45px;
  img {
    margin-left: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}
.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.node-name {
  font-size: 15px;
  color: #08011e;
  margin-left: 20px;
  margin-top: 10px;
  @extend .ellipsis;
}

.node-title {
  font-size: 12px;
  color: #716e7b;
  margin-left: 20px;
  margin-top: 3px;
  width: 85%;
  @extend .ellipsis;
}

.action-buttons {
  // display: none;
}
