@use "./variables";
@use "./functions";

.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  height: 100vh;
  background-color: variables.$clr2;
  color: variables.$clr11;
}



