@use "./basic/variables";
@use "./basic/functions";

.modal-unvierse-container {
  display: flex;
  flex-direction: column;

  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: variables.$clr2;
  border: functions.rem(2) solid variables.$clr1;
  border-radius: 15px;
  box-shadow: 0 functions.rem(4) functions.rem(24) rgba(0, 0, 0, 0.1);
  padding: functions.rem(16);
  overflow: auto;
}

.universe-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
